.col-4 {
	box-shadow: 0 0 5px  5px rgba(0,0,0,0.08);
	height: 105px;
}
input {
	outline: none;
}
.progress {
	height: 2px;
}
.btn-sm {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #d9d9d9;
}
.x{
	font-size: 12px;
}
.btn_sm {
	width: 50px;
}
label {
	width: 35px;
	cursor: pointer;
}